profiles {

   standard {
      includeConfig 'base.config'
      process.executor = 'local'
      conda.enabled = true
      process {
         withName: 'FLYE_BUILD_ASSEMBLY|STRAINY_SPLIT_UNITIGS|METABAT2_JGISUMMARIZEBAMCONTIGDEPTHS|BINNING|SUBSET_BAM|INDEX_BAM|INDEX_FA|CONNECT_UNITIGS|SUBSET_GFA|STRAINY|FILTER_BY_MAG_QUALITY|COUNT_MAG_COVERAGE|FILTER_BY_COVERAGE'{
               conda = "${baseDir}/conda_environment/environment.yml"
         }
         withName: 'MAG_QA|MAG_TRANSFORMED_QA'{
               conda = "${baseDir}/conda_environment/checkm2_updated.yml"
         } 
	 withName: CALL_SNP{
               conda = "${baseDir}/conda_environment/clair3.yml"
         }
	 withName: CUSTOM_DUMPSOFTWAREVERSIONS{
               conda = "${baseDir}/conda_environment/multiqc.yml"
         }
   }

}

}
